@model IEnumerable<TableViewModel>

<div class="container">
    <h2>الطاولات</h2>
    <a asp-action="Create" asp-controller="Tables" class="btn btn-primary">إضافة طاولة جديدة</a>
    <div class="table-responsive mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>رقم المسلسل</th>
                    <th>رقم الطاولة</th>
                    <th>عدد المقاعد</th>
                    <th>حالة الطاولة</th>
                    <th>الإجراءات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var table in Model)
                {
                    <tr>
                        <td>@table.Id</td>
                        <td>@table.TableNumber</td>
                        <td>@table.Capacity</td>
                        <td>
                            <span class="badge @(table.IsOccupied ? "bg-danger" : "bg-success")">
                                @(table.IsOccupied ? "مشغولة" : "متاحة")
                            </span>
                        </td>
                        <td>
                            <a asp-controller="Tables"  asp-action="Edit" asp-route-Id="@table.Id" class="btn btn-warning btn-sm">تعديل</a>
                            <a asp-controller="Tables" asp-action="Delete" asp-route-Id="@table.Id" class="btn btn-danger btn-sm">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
