@model IEnumerable<TableViewModel>

<div class="container">
    <h2>الطاولات</h2>
    <a asp-action="Create" asp-controller="Tables" class="btn btn-primary">إضافة طاولة جديدة</a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>مسلسل الطاولة</th>
                    <th>رقم الطاولة</th>
                    <th>عدد المقاعد</th>
                    <th>حالة الطاولة</th>
                    <th>الإجراءات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var table in Model)
                {
                    <tr>
                        <td>@table.Id</td>
                         <td>@table.Number</td>
                        <td>@table.Seats</td>
                        <td>
                            <span  class="badge @(table.IsOccupied ? "bg-danger" : "bg-success")">
                              @(table.IsOccupied? "مشغولة" : "متاحة")
                            </span>

                            </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Tables" class="btn btn-warning btn-sm">تعديل</a>
                            <a asp-action="Delete" asp-controller="Tables" class="btn btn-danger btn-sm">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
